* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body, .contenedor-pregunta {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 660px;
    flex-direction: column;
    background-color:   #BFC0C0;
}

.inactive{
    display: none;
}

.contenedor-pregunta {
    width: 50%;
    max-height: 80%;
    margin: 0 auto;
}

.contenedor-botones {
    display: flex;
}

.contenedor-img{
    width: 100%;
    display: flex;
    align-items: center;
}

.contenedor-img img {
    margin: 0 auto;
    width: 30%;
}

.boton, .pPregunta {
    background-color: #4F5D75;
    border: 3px solid #2d3142;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pPregunta {
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.imagen1 {
    width: 15%;
}

.boton{
    margin: 35px;
    padding: 15px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
}

.contenedor-cuestionario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuestionario{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuestionario input, button {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #2d3142;
    background-color:#4F5D75;
    margin: 5px;
    color: white;
}

.cuestionario input::placeholder {
    color: rgba(255, 255, 255, 0.633);
}

input {
    text-align: center;
}

.contenedor-cuestionario p {
    color: rgb(17, 64, 111);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton-calcular, .boton-regresar {
    cursor: pointer;
}

@media (max-width: 500px) {
    .contenedor-img{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contenedor-img img {
        margin: 0 auto;
        width: 30%;
    }
}

@media (min-width: 501px) {
    .contenedor-img{
        width: 500px;
    }
    .contenedor-img img {
        width: 30%;
    }
}